{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Unit price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for index in historic %}
                <tr>
                    <td class="text-start">{{index.symbol}}</td>
                    <td class="text-end">{{index.shares}}</td>
                    <td class="text-end">{{"$%.2f"|format(index.price)}}</td>
                    <td class="text-end">{{index.datetime}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
